
h1, h2, h3, h4 {
    font-family: "Courier New", courier, monospace;
}
body{
    background: black;
    max-width: 100%;
    color: #ededed;
}

a:link {
    font-family: "Courier New", courier, monospace;
    font-size: 16;
	color: #ededed;
	text-decoration: none;
}

a:visited {
    font-size: 12;
	color: #ededed;
	text-decoration: none;
}

a:hover {

	text-decoration: line-through;
}

p {
    font-family: "Courier New", courier, monospace;
    color: #ededed;
    font-size: 12px;
    position: relative;
    margin: 0 auto;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.tab-content {
        background-image: linear-gradient(#18110A, #36210C, black);
        min-height: 300px;
}

.blog {
    background-image: linear-gradient(#18110A, #36210C, black);
    min-height: 100px;
}

.blogWrap {
    margin: auto;
    width: 83%;
    min-height: 300px;
    background-color: rgba(211,211,211,0.3);
    
}

.entries {
    
}