@font-face {
font-family: "Vanadine Bold";
src: url("../fonts/vanadine_bold-webfont.woff");

}

@font-face {
font-family: "Vanadine Regular";
src: url("../fonts/vanadine_regular-webfont.woff");
}



img {
    height: auto;
    max-width: 100%;
}

body {
	background-color: black;
	font-family: "Vanadine Bold", monospace;
	color: #ededed;
}
a:link {
    font-size: 20;
	color: #ededed;
	text-decoration: none;
}

a:visited {
    font-size: 20;
	color: #ededed;
	text-decoration: none;
}

a:hover {

	text-decoration: line-through;
}

a:active {
	color: white;
}

h1 {
    font-size: 30;
	color: #ededed;
	vertical-align: bottom;
    font-family: "Vanadine Bold", monospace;
}

/*table, td {
    border-collapse: collapse;

    text-align: left bottom;
}*/

p {
    color: #ededed;
    font-size: 20px;
    position: relative;
    margin: 0 auto;
}

p1 {
    color: #ededed;
    font-size: 20px;
    position: relative;
    margin: 0 auto;

}

.border {
    border-color: #232323;
    border-style: solid;
    border-width: 1px 1px 0px 0px;
    
}