/*
@font-face {
font-family: "Vanadine Bold";
src: url("../fonts/vanadine_bold-webfont.woff");

}

@font-face {
font-family: "Vanadine Regular";
src: url("../fonts/vanadine_regular-webfont.woff");
}
*/

ul {
    list-style: none;
}

li {
    border: 1px solid grey;
}

img {
    
    max-width: 100%;
}


.pagewrap { 
    /* The image used */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
   
    background-repeat: no-repeat;
    background-size: cover;
}
html, body {
    height: 100%;
}

body {
    /* The image used */
    background-image: url("../photos/maglitrailsbg.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


a:link {
    font-size: 16;
	color: #ededed;
	text-decoration: none;
}

a:visited {
    font-size: 12;
	color: #ededed;
	text-decoration: none;
}

a:hover {

	text-decoration: line-through;
}

a:active {
	color: white;
}

h1 {
    font-size: 20;
	color: #ededed;
	vertical-align: bottom;

}

/*table, td {
    border-collapse: collapse;

    text-align: left bottom;
}*/

p {
    color: #ededed;
    font-size: 12px;
    position: relative;
    margin: 0 auto;
}

p1 {
    color: #ededed;
    font-size: 12px;
    position: relative;
    margin: 0 auto;

}

.border {
    border-color: #232323;
    border-style: solid;
    border-width: 1px 1px 0px 0px;
}

#shows {
    text-align: left;
    overflow: auto;
    
}
.wrapper {

    background-color: #CF6624;
    background-image: linear-gradient(#18110A, #36210C, black);
}

.column {
    float: left;
    padding: 1px;
}

.left, .right {
    width:25%;
}

.middle {
    width:49%;
}

.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.jumbotron {
    background-color: #18110A; 
}

.navbar-inverse { background-color: #18110A}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #291D11}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #18110A}
.dropdown-menu { background-color: #302214}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #18110A}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #18110A}