.nav {
    background-color: #18110A;
    text-align: center;
}

.nav a {
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 14px;
	}

.nav a:hover{
		background-color: #8c8c8c;
		text-decoration: line-through;
	}

.nav a.active {
		background-color: #666666;
		text-decoration: underline;
}

/* Dropdown Button */
.dropbtn {
   /* background-color: #4CAF50; */
    color: white;
    padding: 7px;
    font-size: 14px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    border: none;
    width: 16%;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    font-size: 12px;
    opacity: 0.7;
    min-width: 160px;
  /*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.dropdown-content p {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	/* background-color: #ddd; */
	text-decoration: line-through;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {
    background-color: grey;
} */